.container{
    border:1px solid black;
    height: 600px;
    width:400px;
    background-color:rgb(238, 223, 223)
    
} 

.food, .details-gender{
    margin-left:10px
}
.heading{
    margin-left: 10px;
    margin-bottom:10px;
    font-weight:bold;
}
.sub-heading{
    margin-top:0px;
    font-size:10px

}



.details{
    display:flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    margin-left:10px;
}

.button{
   display:flex;
   justify-content: center;

    
}


.column{
    border-right:1px solid black;
    width:250px
}


